In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
car_sales=pd.read_csv("data/car-sales-extended-missing-data.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [3]:
car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [4]:
car_sales["Make"].fillna("missing",inplace=True)

car_sales["Colour"].fillna("missing",inplace=True)

car_sales["Odometer (KM)"].fillna(car_sales["Odometer (KM)"].mean(),inplace=True)

car_sales["Doors"].fillna(4,inplace=True)

In [5]:
car_sales.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [6]:
car_sales.dropna(inplace=True)

In [7]:
car_sales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [8]:
X=car_sales.drop("Price",axis=1)
y=car_sales["Price"]
X.shape, y.shape

((950, 4), (950,))

In [9]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
categorical_features=["Make","Colour","Doors"]
one_hot=OneHotEncoder()
transformer=ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")
transformed_X=transformer.fit_transform(X)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(transformed_X,y,test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((760, 15), (190, 15), (760,), (190,))

In [11]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=100)
model.fit(X_train,y_train)
y_preds=model.predict(X_test)

In [12]:
model.score(X_test,y_test)

0.25010020250222

In [13]:
for i in range (10,100,10):
    print(f"Model Estimator used : {i}")
    model=RandomForestRegressor(n_estimators=i)
    model.fit(X_train,y_train)
    print(f"Accuracy : {model.score(X_test,y_test)}")

Model Estimator used : 10
Accuracy : 0.21610607760826872
Model Estimator used : 20
Accuracy : 0.28089500101283904
Model Estimator used : 30
Accuracy : 0.2627094299425351
Model Estimator used : 40
Accuracy : 0.24201616062035458
Model Estimator used : 50
Accuracy : 0.2981703772230704
Model Estimator used : 60
Accuracy : 0.2526518918840993
Model Estimator used : 70
Accuracy : 0.2622441925748594
Model Estimator used : 80
Accuracy : 0.2464238888049003
Model Estimator used : 90
Accuracy : 0.26963143279782276

In [15]:
t=0
ii=0
for i in range (10,100,10):
    print(f"Model Estimator used : {i}")
    model=RandomForestRegressor(n_estimators=i)
    model.fit(X_train,y_train)
    print(f"Accuracy : {model.score(X_test,y_test)}")
    if(model.score(X_test,y_test)>t):
        t=model.score(X_test,y_test)
        ii=i
print(f"For n_estimator = {ii} Accuracy is Maximum i.e {t*100}%")

Model Estimator used : 10
Accuracy : 0.22325069611062687
Model Estimator used : 20
Accuracy : 0.20378992386549732
Model Estimator used : 30
Accuracy : 0.27090117097040045
Model Estimator used : 40
Accuracy : 0.24379555456688629
Model Estimator used : 50
Accuracy : 0.2563052819731515
Model Estimator used : 60
Accuracy : 0.26780959675552474
Model Estimator used : 70
Accuracy : 0.24674562352233698
Model Estimator used : 80
Accuracy : 0.273435694879403
Model Estimator used : 90
Accuracy : 0.2779769336480302
For n_estimator = 90 Accuracy is Maximum i.e 27.797693364803024%